.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 17rem));
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
}

.courses * {
  margin: 0.2em;
}

.card {
  border-width: 0.2em;
  border-style: solid;
  border-color: coral;
}

.card-body {
  height: 170px;
}

.card-footer {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}